<div class="details-view">
  <h4>Source</h4>
  <%= cms_tag(:div, widget, :source, data: { filter: 'videos' }) %>

  <h4>Poster</h4>
  <%= cms_tag(:div, widget, :poster, data: { filter: 'images' }) %>

  <h4>Autoplay</h4>
  <%= cms_edit_enum(widget, :autoplay) %>
</div>